* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Benguiat";
    src: url(/fonts/Benguiat\ Bold.ttf);
}

html, body {
    overflow-x: hidden !important;
}

body {
    background-color: #0C0102;
    color: rgba(255, 255, 255, 0.9);
    font-family: "Poppins", sans-serif;
}

button {
    font-family: "Poppins", sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4vw;
    position: absolute;
    z-index: 9;
}

section {
    width: 100%;
    display: flex;
    padding: 7vw;
}

h2 {
    font-size: 40px;
    font-weight: 500;
}

button {
    background-color: transparent;
    color: white;
    font-size: 16px;
    display: flex;
    gap: 12px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    padding: 16px 0px;
    cursor: pointer;
}

#preloader {
    width: 100%;
    height: 100vh;
    background-color: #0C0102;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 25vw;
        height: auto;

        path {
            fill: rgba(168, 19, 19, 0.364);
            stroke: rgb(168, 19, 19);
            stroke-dasharray: 1150;
            stroke-dashoffset: 1150;
        }
    }
}

.bgMonstro {
    background-image: url("/img/bgMonstro.png");
    background-position: center;
    background-size: cover;
    z-index: 2;
    position: relative;
    background-color: #0C0102;
}

ul {
    list-style-type: none;
}

.hero {
    background-position: 50% 0%;
    background-size: cover;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7vw 7vw 7vw;
    position: relative;

    picture {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }
    }

    .esquerda {
        width: 30%;
        z-index: 3;
    }

    h1 {
        font-size: 3.7vw;
        font-family: "Benguiat";
    }

    .direita {
        display: flex;
        flex-direction: column;
        align-items: end;
        z-index: 3;

        p {
            width: 42%;
            font-size: 2vw;
            margin-bottom: 32px;
            text-align: end;
        }
    }
}

.hero:before {
    content: "";
    background: linear-gradient(180deg, rgba(12, 1, 2, 0.00) 0%, #0C0102 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

.hero .esquerda h3 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 8px;
}

.secaoCidade {
    flex-direction: column;
    position: relative;

    .titulo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cards {
        margin-top: 52px;
        display: flex;
        justify-content: space-between;

        .card {
            background-position: center;
            background-size: cover;
            background-image: url("/img/sidney.png");
            width: 32%;
            aspect-ratio: 16/9;
            display: flex;
            align-items: end;
            justify-content: space-between;
            padding: 20px;
        }

        .card:nth-child(2) {
            background-image: url("/img/mexico.png");
        }

        .card:nth-child(3) {
            background-image: url("/img/yas-island.png");
        }
    }

}

.secaoDepoimentos {
    flex-direction: column;

    .logotipos {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .depoimentos {
        margin-top: 62px;
        display: flex;
        justify-content: space-between;

        .depoimento {
            width: 31%;
        }
    }
}

.secaoObrigado {
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #0C0102;
    z-index: 2;

    h2 {
        margin-bottom: 40px;
    }

    ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/imgFooter.png");
    background-size: cover;
    background-position: center;

    .conteudoFooter {
        display: flex;
        width: 100%;
        padding: 7vw;

        .logoFooter {
            width: 30%;

            h2 {
                font-size: 3.7vw;
                font-family: "Benguiat";
            }

            h3 {
                font-size: 24px;
                font-weight: 500;
                letter-spacing: 8px;
            }
        }

        .secoesFooter {
            display: flex;
            flex: 1;
            justify-content: end;
            gap: 6%;
            align-items: end;

            h3 {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 12px;
            }

            .social {
                ul {
                    display: flex;
                    gap: 12px;
                }
            }
        }
    }

    .logoTiposFooter {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 4vw;
    }

    .textoInfinito {
        width: max-content;
        margin-bottom: 30px;
        display: flex;

        h3 {
            color: rgb(191, 191, 191);
            font-size: 14vw;
            font-family: "Benguiat", sans-serif;
            mix-blend-mode: color-dodge;
            animation: textoInfinito 10s infinite linear;
            padding-left: 10vw;
        }
    }
}

@keyframes textoInfinito {
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 1500px) {
    .secaoCidade {
        padding: 4vw;
    }
}

@media (max-width: 1400px) {
    .secaoCidade .cards .card {
        flex-direction: column;
        align-items: start;
        justify-content: end;
    }
}

@media (max-width: 1270px) {
    h2 {
        font-size: 30px;
    }

    .secaoCidade .cards .card {
        flex-direction: column;
        align-items: start;
        justify-content: end;
    }
}

@media (max-width: 900px) {
    .secaoObrigado {

        ul {
            width: max-content;
            gap: 15px;
            animation: textoInfinito 25s infinite linear;
        }
    }
}

@media (max-width: 600px) {
    section {
        padding: 4vw;
    }

    h2 {
        font-size: 6vw;
    }

    header h2 {
        font-size: 28px;
    }

    #preloader {
        width: 100%;
        height: 100dvh;
        background-color: #0C0102;
        position: fixed;
        inset: 0;
        z-index: 99999;

        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 55vw;
            height: auto;
        }

        path {
            fill: rgba(168, 19, 19, 0.364);
            stroke: rgb(168, 19, 19);
            stroke-dasharray: 1150;
            stroke-dashoffset: 1150;
        }
    }



    .hero {
        flex-direction: column;
        padding: 26% 4vw 4vw;
        z-index: 1;

        .esquerda, .direita {
            width: 100%;
        }

        .esquerda {
            h3, h1 {
                text-align: center;
            }

            h3 {
                font-size: 4vw;
            }

            h1 {
                font-size: 12vw;
            }
        }

        .direita {
            align-items: start;

            p {
                width: 100%;
                font-size: 5.5vw;
                text-align: start;
                margin-bottom: 16px;
            }
        }
    }

    .secaoCidade {
        button {
            display: none;
        }

        .cards {
            margin-top: 20px;
            flex-direction: column;
            gap: 20px;

            .card {
                width: 100%;

            }
        }
    }

    .secaoDepoimentos {
        .logotipos {
            img:nth-child(1), img:nth-child(3) {
                width: 20%;
            }

            img:nth-child(2) {
                width: 40%;
            }

        }

        .depoimentos {
            flex-direction: column;
            gap: 48px;

            .depoimento {
                width: 100%;
            }
        }
    }

    .bgMonstro {
        position: relative;
        z-index: 2;
    }

    .secaoObrigado {
        position: relative;
        margin: 42px 0px;

        h2 {
            text-align: center;
        }

        ul {
            width: max-content;
            gap: 15px;
            animation: textoInfinito 25s infinite linear;
        }

        ul:hover {
            animation-play-state: paused;

        }
    }

    footer {
        padding-top: 40px;

        .conteudoFooter {
            padding: 4vw;
            flex-direction: column;

            .logoFooter {
                width: 100%;

                h2, h3 {
                    text-align: center;
                }

                h2 {
                    font-size: 12vw;
                }
            }

            .secoesFooter {
                flex-wrap: wrap;
                justify-content: center;
                align-items: start;

                .social {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin: 40px 0px 32px;
                }

                .institucional {
                    width: 40%;
                }

                .parceiro {
                    width: 50%;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .logoTiposFooter {
            margin-top: 40px;
        }

        .textoInfinito {
            font-size: 25vw;
        }
    }
}